<h1>Listing weights</h1>
<table>
  <tr>
    <th>Week# [start date]</th>
    <th>Weight</th>
    <th>Player</th>
    <th>Week loss</th>
    <th>Total loss</th>
    <th>Week percent</th>
    <th>Total percent</th>
    <th></th>
  </tr>
<% @weights.each do |weight| %>
  <tr>
    <td><%= weight.week %>&nbsp;&nbsp;&nbsp;[<%= $a[weight.week-1] %>]</td>
    <td><%= weight.weight %></td>
    <td><%= Player.find_by_id(weight.player_id).name %></td>
    <td><%= weight.week_loss %></td>
    <td><%= weight.total_loss %></td>
    <td><%= weight.week_percent %></td>
    <td><%= weight.total_percent %></td>
    <td><%= link_to 'Show', weight %> | 
    <%= link_to 'Destroy', weight, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weight', new_weight_path %>
