<h1>Listing payments</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Player</th>
    <th>Amount</th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.created_at.strftime("%d-%m-%Y") %></td>
    <td><%= Player.find_by_id(payment.player_id).name %></td>
    <td><%= payment.amount %></td>
    <td><%= link_to 'Show', payment %> | 
    <%= link_to 'Edit', edit_payment_path(payment) %> | 
    <%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
