<h1>Players</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Week 1 </th>
    <th>Week 2</th>
    <th>Week 3</th>
    <th>Week 4</th>
    <th>Week 5</th>
    <th>Week 6</th>
    <th>Total</th>
<% if current_user && current_user.name == 'admin' %>
    <th></th>
 <% end %>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td>
	<% if current_user && current_user.name == player.name %>
		<%= link_to player.name, player %>
	<% else %>
		<%=  player.name %>
	<% end %></td>
    <% @total = 0 %>
    <% 6.times do |i| %>
      <td>
      <% p = i.to_i + 1 %>
      <% if !player.weights[p.to_i].nil? && player.weights[p.to_i][:week]==p.to_i %>
        <%= player.weights[p.to_i].week_percent %>%
        <% @total = player.weights[p.to_i].total_percent %>
      <% end %>
      </td>
    <% end %>
       <td><font color=red><%= @total %>%</font></td>
   <% if current_user && current_user.name == 'admin' %>
	<td>
	<%= link_to 'Edit', edit_player_path(player) %> - 
    <%= link_to 'Destroy', player, confirm: 'Are you sure?', method: :delete %></td>
   <% end %></tr>
<% end %>
</table>

<br />
