<!DOCTYPE html>
<html>
<head>
  <title>Loser</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Weights', weights_path %> | <%= link_to 'Players', players_path %> | <%= link_to 'Payments', payments_path %>
<%= yield %>

</body>
</html>
